* {
    font-family: 'DM Sans', 'Helvetica Neue', sans-serif;
    transition: opacity 1s ease;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(244, 246, 254);
}

::selection {
    color: white;
    background-color: black;
}

#header {
    padding: 5px;
    display: flex;
    align-items: center;
    opacity: 0;
}

#header-links {
    display: flex;
    align-items: center;
    margin: 0 15px 0 auto;
}

.header-link {
    margin: 0 5px;
    text-decoration: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

#main-heading {
    font-size: 70pt;
    text-align: center;
    margin: 20px 0 5px 0;
}

#main-subheading {
    margin: 0;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    transition: color 1s ease;
}

#main-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imitation-cursor {
    width: 5px;
    height: 90px;
    background-color: black;
    margin: 0 0 0 5px;
    border-radius: 10px;
    transition: height 0.3s ease, width 0.3s ease;
}

.header-link-container {
    display: block;
    text-align: center;
}

.header-link-underline {
    width: 0;
    position: relative;
    left: 5%;
    right: 5%;
    height: 2.5px;
    background-color: black;
    border-radius: 10px;
    margin: 1px 0 0 0;
    transition: width 0.3s ease;
}

.header-link-container:hover .header-link-underline {
    width: 90%;
}

#enter-button {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 20pt;
    cursor: pointer;
    justify-content: center;
    margin: 25px auto 0 auto;
    opacity: 0;
    user-select: none;
    -webkit-user-select: none;
}

#enter-arrow {
    pointer-events: none;
    transition: transform 0.3s ease;
}

#enter-button:hover #enter-arrow {
    transform: rotate(90deg);
}

.section-title {
    font-size: 45pt;
    text-align: center;
    margin: 15px 0;
}

.section-text {
    font-size: 16pt;
    text-align: center;
    margin: 0 10%;
}

#link-security {
    width: 50%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    top: 15%;
    left: 25%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    background-color: rgb(255, 255, 255);
}

#link-information {
    text-align: center;
}

#shadow-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#link-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

#link-action button {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 16pt;
    margin: 0 15px 0 0;
}

#link-security-container {
    display: none;
}

.external-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.external-link:hover {
    color: white;
    background-color: black;
}

#about-me {
    opacity: 0;
    display: none;
}

#my-projects {
    opacity: 0;
    display: none;
    text-align: center;
}

#contact-me {
    opacity: 0;
    display: none;
}

#logo {
    margin: 0 15px;
    border-radius: 10px;
    pointer-events: none;
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    user-select: none;
    -webkit-user-select: none;
}

.social-link {
    margin: 30px 15px;
}

#current-time {
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.project-title {
    font-size: 35pt;
    text-align: center;
    color: black;
    text-decoration: none;
}

.project-container {
    margin: 30px 0 0 0;
}

#project-container-1 {
    margin: 0;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}

.copy-contact-info {
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
    transition: background-color 0.3s ease;
}

.copy-contact-info:hover {
    background-color: lightgray;
}

.copy-contact-info:active {
    background-color: gray;
}