/* Copyright © 2025 Ben Fink. All rights reserved. This source code is proprietary and confidential. Unauthorized copying, modification, distribution, or use of this file, via any medium, is strictly prohibited without express written permission from the copyright holder. */

* {
    font-family: 'DM Sans', 'Helvetica Neue', sans-serif;
    transition: opacity 1s ease;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(244, 246, 254);
}

::selection {
    color: white;
    background-color: black;
}

#header {
    padding: 5px;
    display: flex;
    align-items: center;
    opacity: 0;
}

#header-links {
    display: flex;
    align-items: center;
    margin: 0 15px 0 auto;
}

.header-link {
    margin: 0 5px;
    text-decoration: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

#main-heading {
    font-size: 70pt;
    text-align: center;
    margin: 20px 0 5px 0;
}

#main-subheading {
    margin: 0;
    text-align: center;
    color: black;
    opacity: 0;
    transition: opacity 1s ease;
}

#main-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imitation-cursor {
    width: 5px;
    height: 90px;
    background-color: black;
    margin: 0 0 0 5px;
    border-radius: 10px;
    transition: height 0.3s ease, width 0.3s ease;
}

.header-link-container {
    display: block;
    text-align: center;
}

.header-link-underline {
    width: 0;
    position: relative;
    left: 5%;
    right: 5%;
    height: 2.5px;
    background-color: black;
    border-radius: 10px;
    margin: 1px 0 0 0;
    transition: width 0.3s ease;
}

.header-link-container:hover .header-link-underline {
    width: 90%;
}

#enter-button {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 20pt;
    cursor: pointer;
    justify-content: center;
    margin: 25px auto 0 auto;
    opacity: 0;
    user-select: none;
    -webkit-user-select: none;
}

#enter-arrow {
    pointer-events: none;
    transition: transform 0.3s ease;
}

#enter-button:hover #enter-arrow {
    transform: rotate(90deg);
}

.section-title {
    font-size: 45pt;
    text-align: center;
    margin: 15px 0;
}

.section-text {
    font-size: 16pt;
    text-align: center;
    margin: 0 10%;
}

#link-security {
    box-sizing: border-box;
    width: 75%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    top: 15%;
    left: 12.5%;
    right: 12.5%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    background-color: rgb(255, 255, 255);
}

#link-information {
    text-align: center;
}

.shadow-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#link-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

#link-action button {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 16pt;
    margin: 0 15px 0 0;
}

#link-security-container {
    display: none;
}

.external-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.external-link:hover {
    color: white;
    background-color: black;
}

#about-me {
    opacity: 0;
    display: none;
}

#my-projects {
    opacity: 0;
    display: none;
    text-align: center;
}

#contact-me {
    opacity: 0;
    display: none;
}

#logo {
    margin: 0 15px;
    border-radius: 10px;
    pointer-events: none;
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    user-select: none;
    -webkit-user-select: none;
}

.social-link {
    margin: 30px 15px;
}

#current-time {
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.project-title {
    font-size: 35pt;
    text-align: center;
    color: black;
    text-decoration: none;
}

.project-container {
    margin: 30px 0 0 0;
}

#project-container-1 {
    margin: 0;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}

.copy-contact-info {
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
    transition: background-color 0.3s ease;
}

.copy-contact-info:hover {
    background-color: lightgray;
}

.copy-contact-info:active {
    background-color: gray;
}

.mobile-header-link {
    text-align: center;
    margin: 0 5px;
    text-decoration: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    color: black;
    cursor: pointer;
    font-size: 30px;
}

#mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20% 0;
    background-color: rgb(244, 246, 254);
    opacity: 0;
    display: none;
}

#mobile-header {
    position: absolute;
    top: 20px;
    right: 5%;
    display: none;
    opacity: 0;
}

#mobile-dismiss-notice {
    position: absolute;
    width: 50%;
    top: 85dvh;
    left: 25vw;
    text-align: center;
}

#dmt-container {
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#contact-form-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.form-input {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px 0;
    outline: none;
    transition: border 0.2s ease;
    width: 90%;
    max-width: 500px;
    min-width: 150px;
    font-size: 16px;
}

#contact-message {
    resize: none;
    height: 100px;
}

.form-input:focus {
    border: 3px solid black;
}

.contact-buttons {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 16pt;
    margin: 0 5px;
}

#contact-form-container {
    margin: 50px auto 0 auto;
}

#external-processing-container {
    display: none;
}

#external-processing {
    box-sizing: border-box;
    width: 75%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    top: 15%;
    left: 12.5%;
    right: 12.5%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    background-color: rgb(255, 255, 255);
}

#processing-action button {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 16pt;
    margin: 0 15px 0 0;
}

#contact-form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotateItems {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-circle {
    width: 15px;
    height: 15px;
    border: 5px solid black;
    display: block;
    margin: 10px 10px 0 0;
    clip-path: inset(0 0 50% 0);
    border-radius: 50%;
    animation: rotateItems 0.5s linear infinite;
}

#form-status-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

/* Copyright © 2025 Ben Fink. All rights reserved. This source code is proprietary and confidential. Unauthorized copying, modification, distribution, or use of this file, via any medium, is strictly prohibited without express written permission from the copyright holder. */